<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Globook || Iniciar Sesion</title>
	<link href="/stylesheets/bootstrap.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
	<script src="/js/amplify.min.js"></script>
	<script src="/js/comunication.js"></script>
	<script src="/js/security.js"></script>
	<script src="/js/userInfoView.js"></script>
	<script src="/Utils/publish_or_not_publish.jquery.js" ></script>
	<script src="/js/renderPubs.js"></script>
	<script src="/js/init.js"></script>
</head>

<body data-username="{{userName}}">
	
	<div id="loader"></div>
	<div class="container">

		<!-- COLUMNA IZQUIERDA -->

		<section class="col-xs-4 col-md-3 col_izq sombra">
			<img id="userImg" src="/img/user_pic.jpg" class="img-circle col-xs-12 col-md-12" alt="">

			<h3 id="userNameAndSurname"></h3>
			<form id="loginForm" class="col-xs-12 col-md-12" action="#">
				<div class="form-group">
					<!--<label for="user">User</label>-->
					<input id="usernameInput" class="form-control" type="text" name="user" placeholder="User">			
				</div>
				<div class="form-group">
					<!--<label for="pass">Password</label>-->
					<input id="passwordInput"  class="form-control" type="password" name="pass" placeholder="Password">		
				</div>
				<div class="form-group">
					<button id="loginButton" class="btn btn-success pull-right">Entrar</button><br/>		
				</div>
			</form>
			<button id="logoutButton" class="btn btn-success pull-right hidden">Entrar</button><br/>		
		</section><!-- fin COLUMNA IZQUIERDA -->

		<!-- COLUMNA DERECHA -->

		<section class="col-xs-12 col-md-9 col_der">

		    <button class="btn btn-success pull-right">Refresh</button><!--REFRESH BUTTON-->

	        <article id="formulario"  class="well col-xs-12 col-md-12 sombra hidden">


	        		<form action="">
	        			<textarea name="content" class="form-control" cols="30" rows="3"></textarea>
	        			<button class="btn btn-success pull-right">Publicar!</button><!--PUBLICAR BUTTON-->
	        		</form>
	        		

			</article>

		</section><!-- fin COLUMNA DERECHA -->	
	</div>



     
     <script type="text/javascript">

 /******* ESTO DEBERIA IR EN UN NUEVO SCRIPT EXTERNO A LAYOUT ********/
			amplify.subscribe("pageLoaded",function(){
					$('#loader').plug(true);
			});

/**********************************************************************/

     </script>
</body>
</html>