/* Globook Style */

/* MEDIA QUERIES */ 

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }




section,article,input,img,form,button{
	padding:10px;
}

/* LOGO */


/* PATRON FONDO */
body{
	background-image: url('../img/bg.gif');
}

/*	 COLUMNAS */

.col_izq{
	background-color: #b6e010;

}

.col_der{
}

/* TAMAÑO LETRA DE PARRAFO */

p{
	font-size: 13pt;
}

/* SOMBRA */
.sombra{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.39);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.39);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.39);
}






